img.logo-download {
    width: 200px;
}
.top-sec {
    background: #ff6d60;
}
.top-sec img {
    width: 200px;
}
.about-sec img {
    width: 200px;
}
h2, h3 {
    color: #ff6d60;
}
img.logo-img {
    position: absolute;
    top: 20px;
    width: 60px;
}
.work-sec i.fa {
    color: #ff6d60;
    font-size: 40px;
}
.box-sec.col-sm-6.text-center {
    padding: 40px;
}
nav {
    padding: 20px 0;
}
h2.title {
    margin-bottom: 40px;
    /* font-weight: bold; */
}
.box-sec.col-sm-6.text-center {
    padding: 20px 80px;
}
.box-sec i.fa {
    font-size: 36px;
    color: #ff6d60;
}

.subscribe-sec h2, .top-sec h2 {
    color: #fff;
}
h1 {
    color: #fff;
}
.copyright-sec, .why-sec{
  background: #efefef;
}
.content-sec li {
    list-style: none;
    color: #fff;
}
.content-sec ul {
    margin: 0;
    padding: 0;
}
.content-sec i.fa {
    margin-right: 10px;
}
