/*desktop css*/
.container{
    width:1200px;
}                         
.top-header {
    background: blue;
}         
/* .group:after {
    content: "";
    display: table;
    clear: both;
  }  */

  #myCarousel .list-inline {
    white-space:nowrap;
    /* overflow-x:auto; */
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
.carousel-indicators img {
    /* max-width: 400px!important; */
    width: 100%;
}
#myCarousel .carousel-indicators > li {
    width: 100%;
    height: initial;
    text-indent: initial;
    max-width: 100%;
}
.related-vehicle img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    min-height: 150px;
}

.related-vehicle .card-body.text-center {
    border: 1px solid #ccc;
}


/*style start August 8, 2020*/
img{
    object-fit: cover;
    object-position: center;
}

/*---------Start SECTION:/.cardealer ----------*/

.cardealer{
    padding: 15px 0px 40px;
    border-bottom: 1px solid #ccc;
}
.cardealer h2{font-size: 36px;}
.cardealer p{
    font-size: 15px;
    font-weight: 500;
    color: #a2a0a0;
}
.cardealer .top-head h2, .our-history .top-head h2, .client-testimonial .top-head h2, .gentin-touch .top-head h2{position: relative; margin-bottom: 50px;}
.cardealer .top-head h2::before, .our-history .top-head h2::before, .client-testimonial .top-head h2::before, .gentin-touch .top-head h2::before{
position: absolute;
content: "";
border-top: 2px solid #bf2d2d;
width: 100px;
z-index: 1;
bottom: -30px;
left: 45%;
text-align: center;
}
.cardealer .top-head h2::after, .our-history .top-head h2::after, .client-testimonial .top-head h2::after, .gentin-touch .top-head h2::after{
position: absolute;
content: "";
border-top: 1px solid #bf2d2d;
width: 50px;
z-index: 1;
bottom: -22px;
left: 47%;
text-align: center;
}

.cardealer .left-image img{
    width: 100%;
    height: 270px;
}

.cardealer .car-box{
    width: 100%;
    float: left;
}

.cardealer .car-box .image{
    left: 0;
    width: 64px;
    height: 64px;
    border: 1px solid #ece0e0;
    border-radius: 50%;
    padding: 10px;
    float: left;
    margin-right: 16px;
}
.cardealer .car-box .image span{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #e8e7e7;
    text-align: center;
    padding: 10px 0 0 0
}
.cardealer .car-box .image span i{color: #a79f9f; font-size: 18px;}
/*.cardealer .car-box .image span img{
    display: block;
    margin: auto;
}*/
.cardealer .car-box .content{
    padding: 10px 0 0 0;
    width: calc(100% - 81px);
    float: left;
}
.cardealer .car-box .content strong{
    margin-bottom: 10px;
    display: block;
}

/*---------End SECTION:/.cardealer ----------*/



/*---------Start SECTION:/.our-history----------*/

/* Style start for section:/.our-history*/
.our-history{padding: 70px 0px;}
.our-history .top-head p{
    font-size: 15px;
    font-weight: 500;
    color: #a2a0a0;
    margin-bottom: 5px;
}
.our-history .top-head h2{
  position: relative;
  margin-bottom: 50px;
  font-size: 36px;
}
.our-history .top-head h2::before{
    position: absolute;
    content: "";
    border-top: 2px solid #bf2d2d;
    width: 100px;
    z-index: 1;
    bottom: -30px;
    left: 45%;
    text-align: center;
}
.our-history .top-head h2::after{
    position: absolute;
    content: "";
    border-top: 1px solid #bf2d2d;
    width: 50px;
    z-index: 1;
    bottom: -22px;
    left: 47%;
    text-align: center;
}

@media(min-width:1200px) {
  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
}
.timeline:before {
    content: "";
    position: absolute;
    top: -40px;
    bottom: -40px;
    left: 50%;
    width: 2px;
/*    margin-left: -1.5px;*/
    background-color: #ccc;
    z-index: 0;
}
    .timeline>li {
/*        min-height: 0px;*/
        margin-bottom: 40px;
        position: relative;
    }
    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }

    .timeline>li:after {
        clear: both;
    }
    .timeline>li:last-child {
        margin-bottom: 0;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 45%;
      background: #fff;
      /*border: 1px solid #ccc;*/
      padding: 20px 15px;
      position: relative;
      text-align: left;
      box-shadow: 0 0 2px rgba(0,0,0,.5);
    }
    .timeline .timeline-body p{margin-bottom: 10px;}

    .timeline>li .timeline-image {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    position: absolute;
    left: 50%;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    color: #525050;
    background-color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding-top: 4px;
    z-index: 10;
    }
    .timeline>li .timeline-image span{font-size: 28px;}

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
      float: right;
    }
    .our-history p.arrow::after{
      position: absolute;
      content: '';
      border-left: 15px solid #ccc;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      top: 20px;
      right: -30px;
      border-top: 15px solid transparent;
    }
    .our-history p.arrow-right::after{
      position: absolute;
      content: '';
      border-left: 15px solid transparent;
      border-right: 15px solid #ccc;
      border-bottom: 15px solid transparent;
      top: 20px;
      left: -30px;
      border-top: 15px solid transparent;
    }
    .our-history .timeline-body h4{position: relative; margin-bottom: 20px; font-size: 17px;}
    .our-history .timeline-body h4::after{
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #db2d2e;
      bottom: -8px;
      left: 0;
    }

    .timeline>li .timeline-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    }
}


@media(min-width:767px) {
/*.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 30px;
}*/

/*.timeline:before {
    content: "";
    position: absolute;
    top: -40px;
    bottom: -40px;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #ccc;
}*/

/*.timeline>li {
    position: relative;
}
*/
/*.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}
*/
/*.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 0px 0 100px;
    text-align: left;
}*/

/*.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}*/

/*.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
}*/

/*.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}*/

/*.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}*/

/*.timeline>li:last-child {
    margin-bottom: 0;
}*/

}

@media(min-width:768px) {
/*    .timeline:before {
        left: 50%;
    }*/

/*    .timeline>li .timeline-panel {
        float: left;
        width: 45%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }*/

/*    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
*/
/*    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }*/
}

/*@media(min-width:992px) {

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}*/


/* End start for section:/.our-history*/
/*---------End SECTION:/.our-history----------*/



/*---------Start SECTION:/----------*/

.vehicle-stock{
    padding: 70px 0px;
    background: url(../images/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    background-attachment: fixed;
}
.vehicle-stock::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -65px;
    background: #000;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.vehicle-stock .stock-box{
    position: relative;
    color: #fff;
    z-index: 100;
/*    text-align: center;*/
    height: 80px;
    /* background: green*/;
}
.vehicle-stock .stock-box strong.head{
    display: block;
    margin: 0px 0 10px 16px;
    text-transform: uppercase;
}
.vehicle-stock .stock-box .content{
    position: relative;
    padding: 10px 20px;
        /* background: red; */
    height: 54px;
}
.vehicle-stock .stock-box .content::before{
    position: absolute;
    content: "";
    height: 51px;
    z-index: 10;
    left: 0;
    top: 3px;
    text-align: center;
    width: 1px;
    background: #fff;
}
.vehicle-stock .stock-box .content::after{
    position: absolute;
    content: "";
    height: 30px;
    z-index: 10;
    left: -4px;
    bottom: 0px;
    text-align: center;
    width: 1px;
    background: #fff;
}
.vehicle-stock .stock-box .content span{
    width: 50px;
    height: 40px;
    float: left;
}
.vehicle-stock .stock-box .content span i{
    color: #fff;
    font-size: 42px;
}
.vehicle-stock .stock-box .content strong{
    float: left;
    margin-left: 14px;
    font-size: 40px;
    line-height: 1
}

/*---------End SECTION:/---------*/


/*---------Start SECTION:/.client-testimonial----------*/

.client-testimonial{
    padding: 70px 0px;
}
.client-testimonial h2{font-size: 36px;}
.client-testimonial p{
    font-size: 15px;
    font-weight: 500;
    color: #a2a0a0;
    margin-bottom: 10px;
}
.client-testimonial .top-head p{margin-bottom: 5px;}
.client-testimonial .car-box{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}
.client-testimonial .car-box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #fff;
}
.client-testimonial .car-box .imagebox img{
height: 180px;
width: 100%;
}
.client-testimonial .content-box{
    background-color: #f6f6f6;
    text-align: center;
}
.client-testimonial .content-box .image img{
width: 80px;
height: 80px;
border-radius: 50%;
margin-top: -40px;
border: 4px solid #fff;
}
.client-testimonial .content-box .image span.title{
    display: block;
    color: #dd3d3e;
    font-size: 16px;
    font-weight: 500;
}
.client-testimonial .content-box .image span.title2{
    font-size: 16px;
    color: #a2a0a0;
}
.client-testimonial .content-box .reviews{
    padding: 20px 15px;
    text-align: center;
}
.client-testimonial .content-box .reviews i{
    color: #999999;
    font-size: 30px;
}
/*---------End SECTION:/.client-testimonial---------*/



/*---------Start Contact page style:----------*/

/*---------Start SECTION:/.gentin-touch----------*/

.gentin-touch{
    padding: 70px 0px;
}
.gentin-touch h2{font-size: 36px;}
.gentin-touch p{
    font-size: 15px;
    font-weight: 500;
    color: #a2a0a0;
}
.gentin-touch .top-head p {
    margin-bottom: 5px;
}
.gentin-touch .info-box{
    background-color: #f6f6f6;
    padding: 25px 15px;
    text-align: center;
}
.gentin-touch .info-box i{
    color:#db2d2e;
    font-size: 40px;
}
.gentin-touch .info-box i.fa-phone{transform: rotate(261deg);}
.gentin-touch strong{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
}
.gentin-touch span{
    color: #9999a2;
    font-size: 18px;
}
.gentin-touch .contact-info .form-control{
    background-color: #f6f6f6;
    font-size: 14px;
    border-color: transparent;
    border-radius: 0px;
}
.gentin-touch .contact-info input{height: 44px;}
.gentin-touch .contact-info .form-control:focus{
    border-color: #db2d2e;
    box-shadow: none !important;
}
.gentin-touch .contact-info .btn-danger, .gentin-touch .contact-info .btn-danger:focus, .gentin-touch .contact-info .btn-danger:active{
    color: #fff;
    background-color: #db2d2e !important;
    border-color: #db2d2e !important;
    padding: 8px 0px;
    box-shadow: none !important;
}
.gentin-touch .opening-time{
    background-color: #f6f6f6;
    padding: 20px 60px 20px 20px;
}
.gentin-touch .opening-time h5{
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
}
.gentin-touch .opening-time h5::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #db2d2e;
    bottom: -10px;
    left: 0;
}
.gentin-touch .opening-time ul{margin-top: 20px;}
.gentin-touch .opening-time li.last span{margin-left: 76px;}
.gentin-touch .opening-time li{
    margin: 0px 0px 5px;
    font-weight: 500;
    justify-content: space-between;
    display: flex;
}
.gentin-touch .opening-time li span{
    font-weight: normal;
    font-size: 16px;
    }
.gentin-touch .car-box .content{padding: 0 !important;}
/*---------End SECTION:/.gentin-touch---------*/



/*---------Start SECTION:/.address-map----------*/

.address-map{
    margin-bottom: 10px;
}
.address-map iframe{

width: 100%;
 height: 400px;
}
/*---------End SECTION:/.address-map---------*/


/*---------Style Starr:10Aug2020/----------*/


/*---------Start SECTION:/.header----------*/
.header{background-color: #0493e1;}
.header .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
/*---------End SECTION:/.header---------*/



/*---------Start SECTION:/banner----------*/
/* .banner{
    padding: 30px 0px;
} */
.pagination {
    width: 100%;
    float: left;
}
.our-team img {
    height: 200px;
    width: 200px;
}
.banner .right-sideblock .main{
background-color: #f3f3f3;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.banner .right-sideblock .main .image-box{
width: 250px;
    float: left;
    margin-right: 20px;
    position:relative;
}
.banner .right-sideblock .main .image-box span{
    background-color: #10c09c;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 8px;
}
.banner .right-sideblock .main .content-box{
    width: calc(100% - 270px);
    float: left;
}
.banner .right-sideblock .main .content-box .list{flex-direction:row; margin-top: 15px;}
.banner .right-sideblock .main .content-box .list li{
padding: 4px 15px;
    /* background: red; */
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
        color: #827e7e;
    font-size: 14px;
}
.banner .right-sideblock .main .content-box .left-cont{
    float: left;
    width: 360px;
}
.banner .right-sideblock .main .content-box .left-cont h4{
font-weight: 500;
    font-size: 20px;
    position: relative;
    margin-bottom: 18px;
}
.banner .right-sideblock .main .content-box .left-cont p{
font-size: 15px;
    color: #929090;
}
.banner .right-sideblock .main .content-box .left-cont h4::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background:#0493e1;
    bottom: -8px;
    left: 0;
}
.banner .right-sideblock .main .content-box .btn-block{
    float: left;
    width: 160px
}
.banner .right-sideblock .main .content-box .btn-block .btn{
    float: right;
        border-radius: 12px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 17px;
}
.banner .right-sideblock .main .content-box .btn-block .btn-info{
background-color:#0193e2 !important;
border-color:#0193e2 !important;
}
.banner .right-sideblock .main .content-box .btn-block .btn-warning{
    background-color:#fee53b!important;
border-color:#fee53b !important;
}
.banner .right-sideblock .main .content-box .btn-block .btn-warning{margin-top: 20px;}
.btn:focus, .form-control:focus{box-shadow: none !important;}

.banner .left-sideblock .search-box{
    position: relative;
    margin-top: 10px;
}
.banner .left-sideblock .search-box::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #0493e1;
    top: -15px;
    left: 0;
}
.banner .left-sideblock .search-box input.image{
    background: url(../images/search.png);
    background-position:right;
    background-repeat: no-repeat;
    padding-left:15px;
    background-size: 15px 15px;
    background-color:#fff;
}



.banner .left-sideblock .car-filter{
background-color: #f3f3f3;
    margin: 15px 0px;
    padding: 10px;
}
.banner .left-sideblock .car-filter .btnblock .btn{
    border-radius: 0;
    padding: 6px 20px;
        background-color: #0392e5 !important;
    border-color: #0392e5 !important;
}
.banner .left-sideblock .car-filter h4{
    font-weight: 700;
    font-size: 16px;
    position: relative;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.banner .left-sideblock .car-filter h4::after{
position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #0493e1;
    bottom: -8px;
    left: 0;
}
.banner .left-sideblock .car-filter label{
    color: #0493e1;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}
/*---------End SECTION:/banner---------*/



/*---------Start SECTION:/footer----------*/
footer{
    padding: 50px 0px 70px;
    background-color: #171717;
    color: #fff;
}
footer .head-title h2{
    color: #9f9f9f;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 45px;
}
footer .contact-info i{
    font-size: 40px;
    margin-right: 20px;
    float: left;
}
footer .contact-info strong{display: block;}
footer .contact-info span{
 position: absolute;
}
footer .social-icon{
margin: 50px 0px 15px;
color: #fff !important;
}
footer .social-icon .nav-link{
color: #fff !important;
}



footer .copyright{
border-top: 1px solid #ccc;
    padding: 20px 10px;
    text-align: center;
}
footer .copyright p{font-size: 14px;}
/*---------End SECTION:/footer---------*/

/*style start Octo-6-20*/
/*---------Start SECTION:/.banner-lets-find--------*/
.auto-header{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0px 20px;
    background-color: transparent;
}
.auto-header .navbar-dark .navbar-nav .nav-link{font-weight: 500;}
.auto-header a.navbar-brand{font-size: 36px;}
.banner-lets-find{
background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-size: 100% 100%;
    padding-top: 250px;
}
.banner-lets-find .lets-find-car{
    padding: 10px 0px;
    text-align: center;
}
.banner-lets-find .lets-find-car h1{
    font-size: 80px;
    color: #fee739;
    font-weight: 700;
    line-height: 84px;
}
.banner-lets-find .lets-find-car h1 span{font-size: 104px;}
.banner-lets-find .lets-find-car h1 span.for{font-size: 65px;}
.banner-lets-find .lets-find-car a{
color: #242424 !important;
padding: 10px 36px;
transition: ease;
border-radius: 30px;
background-color: #fff !important;
border-color: #fff;
font-weight: 700;
font-size: 18px;
margin-top: 25px;
outline: 0;
}
/*---------End SECTION:/.banner-lets-find---------*/


/*---------Start SECTION:/.banner-whoweare--------*/


.banner-whoweare{
    background-image: url(../images/we-are.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0px;
    background-position: right;
}
.banner-whoweare .let-side-cont{
padding-right: 70px;
}
.banner-whoweare .let-side-cont h2{
color: #0c71c3;
font-size: 52px;
font-weight: 900;
margin-bottom: 50px;
}
.banner-whoweare .let-side-cont p{
    color: #8e8e8e;
}
.banner-whoweare .let-side-cont a{
background-color: #ff0 !important;
border-color: #ff0 !important;
color: #000 !important;
padding: 10px 30px;
border-radius: 30px;
font-size: 19px;
font-weight: 600;
margin-top: 10px;
box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 5px 20px 0 rgba(0,0,0,0.19) !important;
outline: 0 !important;
}
.banner-whoweare .right-side-image{

}
/*---------End SECTION:/.banner-whoweare---------*/
.whatwe-do{
background-image: url(../images/img-asset-3.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0px;
    background-position: left center;
    background-color: #f5f5f5;
}
.whatwe-do .title-head h2{
    color: #0c71c3;
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 70px;
}
.whatwe-do .work-idea{
    position: relative;
    width: 100%;
    float: left;
}
.whatwe-do .work-idea .img-box{
width: 80px;
    float: left;
}
.whatwe-do .work-idea .cont-box{
    width: calc(100% - 90px);
    float: left;
    margin-left: 10px;
    padding-top: 20px;
}
.whatwe-do .work-idea .cont-box h4{
        font-size: 28px;
    color: #6f6f6d;
    font-weight: 700;
    margin-bottom: 16px;
}
.whatwe-do .work-idea .cont-box p{text-align: justify;}

/*---------Start SECTION:/.how-to-work--------*/
.how-to-work{
    background-image: url(../images/how-it-2.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0px;
    background-position: right;
}
.how-to-work .title-head h2{
color: #0c71c3;
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 50px;
}
.how-to-work .let-side-cont p{color: #8e8e8e;}
.how-to-work .let-side-cont a{
    background-color: #ff0 !important;
    border-color: #ff0 !important;
    color: #000;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 600;
    margin-top: 30px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 5px 20px 0 rgba(0,0,0,0.19) !important;
    outline: 0 !important;
}
.how-to-work .right-side-image {
    width: 370px;
    height: 280px;
}
.how-to-work .right-side-image img{width: 100%; height: 100%;}
/*---------End SECTION:/.how-to-work---------*/

/*---------Start SECTION:/.our-team ----------*/


.our-team .slick-slide.slick-current.slick-active.slick-center img {
    height: 260px;
    width: 260px;
} 
.our-team .slick-slide img {

    height: 200px;
    width: 200px;
}



.our-team .slider {
    width: 100%;
    /* margin: 100px auto; */
}

.our-team .slick-slide {
  margin: 0px 20px;
  text-align: center;

}
.slick-slide.slick-current.slick-active.slick-center {
    margin: -31px 0!important;
}



.our-team .slick-prev:before,
.our-team .slick-next:before {
  color: black;
}


.our-team .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.our-team .slick-active {
  opacity: .5;
}

.our-team .slick-current {
  opacity: 1;
}

.our-team{
    background-image: url(../images/img-asset-3.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0px;
    background-position: left center;
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.our-team h2{
    color: #0c71c3;
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 50px;
}
.our-team .img-box{
    position: relative;
    padding: 2px;
    transform: rotate(45deg);
    height:auto;
    width: auto!important;
    border: 14px solid #fff;
    text-align: center;
    margin: 80px 0px;
}
.our-team .img-box p{
    position: absolute;
    content: "";
    width: 160px;
    /* height: 36px; */
    background: #000;
    color: #fff;
    transform: rotate(-40deg);
    left: 67%;
    bottom: -7px;
    margin: 0;
    padding: 6px 0px;
    transform: rotate(-45deg);
    clip-path: polygon(0 0, 86% 0%, 100% 100%, 100% 100%, 12% 100%);
}
.our-team .img-box span{
    position: absolute;
    content: "";
    width: 120px;
    background: #0eeaf5;
    color: #fff;
    transform: rotate(-40deg);
    left: 79%;
    bottom: -20px;
    margin: 0;
    padding: 5px 0px;
}

.slick-current .img-box, .slick-current .img-box h3, .slick-current .img-box p {
    /* background-image: linear-gradient(to right, #e0842b , #e2ac78) !important; */
    color: #fff;
}
.our-team .slick-dots li.slick-active button:before{color: #f17e0e !important;}
.our-team .slick-dots{bottom: -36px;}
.slick-slide{margin: 0px 4px !important;}
.slick-prev {
    left: 50px !important;
}
.slick-next{
    right: 50px !important;
}
.slick-prev:before, .slick-next:before{font-size: 36px !important; opacity: 1 !important;}
.slick-prev, .slick-next{
    width: 80px !important;
    height: 70px !important;
}
.slick-list{padding: 0 130px !important;}

/*---------End SECTION:/.our-team--------------*/


/*---------Start SECTION:/.customer-sayabout--------*/
#customer-sayabout{
    background-image: url(../images/about-customer.png) !important;
    background-size: 100%;
    padding: 50px 0px;
    background-position: right center;
    background-color: #fff;

}
#customer-sayabout .main-box{
    position: relative;
    width: 100%;
    float: left;
}
#customer-sayabout .image-box{
    float: left;
    position: relative;
    padding: 2px;
    transform: rotate(45deg);
    height: 250px;
    width: 250px;
    border: 14px solid #fff;
    text-align: center;
    margin: 70px 70px;
    box-shadow: 2px 3px 12px 0px;
}
#customer-sayabout .image-box img{width: 100%; height: 100%;}
#customer-sayabout .cont-box{
    width: calc(100% - 450px);
    float: left;
    margin-left: 10px;
    padding-top: 90px;
}
#customer-sayabout .cont-box p{color: #8e8e8e; margin-bottom: 5px;}
#customer-sayabout .cont-box span.c-name{
        font-weight: 500;
    color: #545050;
    font-size: 18px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
background-color: red;
}
#customer-sayabout .customer-pic{
    margin-top: 26px;
    padding: 0 67px;
}
#customer-sayabout .customer-pic .img-boxes{
    float: left;
    position: relative;
    padding: 2px;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    margin: 0px 14px;

}
#customer-sayabout .customer-pic .img-boxes img{
    width: 100%;
    height: 100%;
}
#customer-sayabout .cont-box i{
color: #999999;
font-size: 50px;
margin-right: 10px;
float: left;
width: 60px;
height: 200px;
margin-top: -10px;
}
#customer-sayabout .title-head h2{
    margin-left: 100px;
}
/*---------End SECTION:/.customer-sayabout---------*/

/*---------Start SECTION:/-------*/

/*---------End SECTION:/---------*/

/*style End Octo-6-20*/

/* Custom style*/
.check-box-style {
    width: auto !important;
    float: left;
    margin-right: 20px;
}
.deposit-btn .btn {
    margin-top: 20px;
    background-color: #fee53b !important;
    border-color: #fee53b !important;
    /*float: right;*/
    border-radius: 12px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 17px;
}
/* VEhicle lsiting page */
.vehicle_buy .modal-body {
    padding: 0;
    margin: 0;
}
.vehicle_buy .image_sec {
    margin: 0;
    padding: 0;
}
.form_sec h2 {
    font-weight: 700;
    text-align: center;
    color: #0493e1;
}
.form_sec .col-form-label {
    color: gray;
    font-weight: 700;
}
.form_sec .form-control, .form_sec .PhoneInputInput {
    border-radius: 5px;
    border: 2px solid gray;
}
.image_sec h2 {
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.form_sec button {
    margin-bottom: 10px;
    width: 100%;
    text-align: center !important;
    border-radius: 5px;
}
.vehicle_buy #close {
    width: auto;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 100000;
    cursor: pointer;
}
.vehicle_buy.modal-content {
    border-radius: 15px;
}
.PhoneInputInput {
    height: 37px;
}
.image_sec.col-sm-6 {
    position: relative;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.vehicle_buy.modal-content {
    border-radius: 15px;
}
/* VEhicle lsiting page */